mainmenu "Blue Kernel"

source "$KCONFIG_DIR/$BOARD/Kconfig"

config ALIGN_SIZE
    default 8
    int "Alignment size for CPU architecture data access"

config TICK_PER_SECOND
    default 100
    int "Tick frequency, Hz"

config SMP
    default n
    bool "Enable Symmetric multiprocessing"

config CPUS_NR
    default 4 if SMP
    default 1 if !SMP
    int "Number of CPUs"

config THREAD_PRIORITY
    default y 
    depends on THREAD_PRIORITY_256
    bool "use thread stack priority"

choice
    prompt "The async output thread stack priority"
    default THREAD_PRIORITY_256
    help
      Choose between 32 or 256 for the async output thread priority.
    config THREAD_PRIORITY_32
        bool "32"
        help
          Set async thread priority to 32 (lower priority).
    config THREAD_PRIORITY_256
        bool "256"
        help
          Set async thread priority to 256 (higher priority).
endchoice

config MAIN_THREAD_PRIORITY
    default 100 if THREAD_PRIORITY_256
    default 10 if THREAD_PRIORITY_32
    int "Set main thread priority"

config THREAD_PRIORITY_MAX
    default 256 if THREAD_PRIORITY_256
    default 32 if THREAD_PRIORITY_32
    depends on THREAD_PRIORITY
    int "The async output thread stack priority, Valid values are ONLY 32 or 256."

config SERIAL_RX_FIFO_SIZE
    default 512
    int "The serial rx fifo size"

config SERIAL_TX_FIFO_SIZE
    default 512
    int "The serial tx fifo size"

choice
    prompt "Memory allocation algorithm"
    default ALLOCATOR_TLSF
    config ALLOCATOR_TLSF
        bool "TLSF algorithm"
    config ALLOCATOR_SLAB
        bool "SLAB algorithm"
    config ALLOCATOR_LLFF
        bool "LLFF algorithm"
    config ALLOCATOR_BUDDY
        bool "BUDDY mode"
endchoice

config ALLOCATOR
    string
    default "tlsf" if ALLOCATOR_TLSF
    default "slab" if ALLOCATOR_SLAB
    default "llff" if ALLOCATOR_LLFF
    default "buddy" if ALLOCATOR_BUDDY

config OVERFLOW_CHECK
    default y
    bool "Using stack overflow checking"

config IDLE_HOOK
    default y
    bool "Enable system hook"

config HEAP
    default y
    bool "Using heap"

config HEAP_ISR
    default y
    bool "Using heap in ISR"

config DEBUGGING_INIT
    default y
    bool "Enable debugging of components initialization"

config EVENT
    default y
    bool "Enable event flag"

config MESSAGEQUEUE
    default y
    bool "Enable message queue"

config MAILBOX
    default y
    bool "Enable mailbox"

config MUTEX
    default y
    bool "Enable mutex"

config SEMAPHORE
    default y
    bool "Enable semaphore"

config RWLOCK
    default y
    bool "Enable rwlock"

config CONDVAR
    default y
    bool "Enable condvar"

config COMPAT_NEWLIBC
    default y
    bool "Enable newlibc"

config SCHEDULE_WITH_TIME_SLICE
    default y
    bool "Enable schedule with time_slice"

config STACK_HIGHWATER_CHECK
    default y
    bool "Enable stack overflow checking"

config DEBUGGING_OBJECT
    default n
    bool "Enable debugging of object"

config DEBUGGING_SCHEDULER
    default n
    bool "Enable debugging of scheduler"

config DEBUGGING_CONTEXT
    default n
    bool "Enable debugging of context switch"

config MEMPOOL
    default n
    bool "Enable mempool"

config MEMHEAP
    default n
    bool "Enable memheap"

config MAIN_THREAD_STACK_SIZE
    default 12288
    int "Set main thread stack size"

config IDLE_THREAD_STACK_SIZE
    default 2048
    int "The stack size of idle thread"

config TIMER_THREAD_STACK_SIZE
    default 2048
    int "The stack size of timer thread"

config FDT
    default n
    bool "Enable Flat Device Tree"

config VIRTIO
    default n
    bool "Enable VirtIO"

config PROCFS
    default n
    bool "Enable proc file system"