mainmenu "Blue Kernel"

source "$KCONFIG_DIR/$BOARD/Kconfig"

config ALIGN_SIZE
    default 8
    int "Alignment size for CPU architecture data access"

config TICKS_PER_SECOND
    default 100
    int "Tick frequency, Hz"

config SMP
    default n
    bool "Enable Symmetric multiprocessing"

config NUM_CORES
    default 4 if SMP
    default 1 if !SMP
    int "Number of CPUs"

config THREAD_PRIORITY
    default y 
    depends on THREAD_PRIORITY_256
    bool "use thread stack priority"

choice
    prompt "The async output thread stack priority"
    default THREAD_PRIORITY_256
    help
      Choose between 32 or 256 for the async output thread priority.
    config THREAD_PRIORITY_32
        bool "32"
        help
          Set async thread priority to 32 (lower priority).
    config THREAD_PRIORITY_256
        bool "256"
        help
          Set async thread priority to 256 (higher priority).
endchoice

config MAIN_THREAD_PRIORITY
    default 100 if THREAD_PRIORITY_256
    default 10 if THREAD_PRIORITY_32
    int "Set main thread priority"

config THREAD_PRIORITY_MAX
    default 256 if THREAD_PRIORITY_256
    default 32 if THREAD_PRIORITY_32
    depends on THREAD_PRIORITY
    int "The async output thread stack priority, Valid values are ONLY 32 or 256."

config SERIAL_RX_FIFO_SIZE
    default 512
    int "The serial rx fifo size"

config SERIAL_TX_FIFO_SIZE
    default 512
    int "The serial tx fifo size"

choice
    prompt "Memory allocation algorithm"
    default ALLOCATOR_TLSF
    config ALLOCATOR_TLSF
        bool "TLSF algorithm"
    config ALLOCATOR_SLAB
        bool "SLAB algorithm"
    config ALLOCATOR_LLFF
        bool "LLFF algorithm"
    config ALLOCATOR_BUDDY
        bool "BUDDY mode"
endchoice

config ALLOCATOR
    string
    default "tlsf" if ALLOCATOR_TLSF
    default "slab" if ALLOCATOR_SLAB
    default "llff" if ALLOCATOR_LLFF
    default "buddy" if ALLOCATOR_BUDDY

config SOFT_TIMER
    default y
    bool "Enable soft timer"

config ROBIN_SCHEDULER
    default y
    bool "Enable robin scheduler"

config ROBIN_SLICE
    default 10
    int "The tick slice of robin scheduler"
    depends on ROBIN_SCHEDULER

config OVERFLOW_CHECK
    default y
    bool "Using stack overflow checking"

config STACK_HIGHWATER_CHECK
    default y
    bool "Enable stack overflow checking"

config DEBUGGING_SCHEDULER
    default n
    bool "Enable debugging of scheduler"

config MAIN_THREAD_STACK_SIZE
    default 12288
    int "Set main thread stack size"

config IDLE_THREAD_STACK_SIZE
    default 2048
    int "The stack size of idle thread"

config TIMER_THREAD_STACK_SIZE
    default 2048
    int "The stack size of timer thread"

config FDT
    default n
    bool "Enable Flat Device Tree"

config VIRTIO
    default n
    bool "Enable VirtIO"

config PROCFS
    default n
    bool "Enable proc file system"

config NETWORK_STACK_SIZE
    default 32768
    int "The stack size of network stack thread"

# smoltcp IP Stack Configuration , default and range from smoltcp:gen_config.py
menu "smoltcp TCP/IP Stack Configuration"
    config SMOLTCP
        bool
        default y
        help
          smoltcp TCP/IP stack is mandatory for this system

config ASSEMBLER_MAX_SEGMENT_COUNT
    int "Maximum non-contiguous segments count for reassembly"
    default 4
    range 1 32
    help
      Maximum number of non-contiguous segments the assembler can hold. Used for both packet reassembly and TCP stream reassembly.

config REASSEMBLY_BUFFER_COUNT
    int "Number of reassembly buffers"
    default 4
    range 1 32
    help
      Number of reassembly buffers, i.e how many different incoming packets can be reassembled at the same time.

config REASSEMBLY_BUFFER_SIZE
    int "Reassembly buffer size for incoming packets"
    default 1500
    range 256 65536
    help
      Size of the buffer used for reassembling (de-fragmenting) incoming packets. If the reassembled packet is larger than this setting, it will be dropped instead of reassembled.

config FRAGMENTATION_BUFFER_SIZE
    int "Fragmentation buffer size for outgoing packets"
    default 4096
    range 256 65536
    help
      Size of the buffer used for fragmenting outgoing packets larger than the MTU. Packets larger than this setting will be dropped instead of fragmented.

config IFACE_MAX_ADDR_COUNT
    int "Maximum IP addresses per interface"
    default 8
    range 1 8
    help
      Max amount of IP addresses that can be assigned to one interface (counting both IPv4 and IPv6 addresses).

config IFACE_MAX_MULTICAST_GROUP_COUNT
    int "Maximum multicast groups per interface"
    default 4
    range 1 1024
    help
      Max amount of multicast groups that can be joined by one interface.

config IFACE_MAX_ROUTE_COUNT
    int "Maximum routing table entries"
    default 2
    range 1 1024
    help
      Max amount of routes that can be added to one interface. Includes the default route. Includes both IPv4 and IPv6.

config IFACE_MAX_SIXLOWPAN_ADDRESS_CONTEXT_COUNT
    int "Maximum 6LoWPAN address contexts per interface"
    default 4
    range 1 1024
    help
      Max amount of 6LoWPAN address contexts that can be assigned to one interface.

config IFACE_NEIGHBOR_CACHE_COUNT
    int "Neighbor(ARP) cache entries count"
    default 8
    range 1 1024
    help
      Amount of "IP address -> hardware address" entries the neighbor cache (also known as the "ARP cache" or the "ARP table") holds.

config RPL_RELATIONS_BUFFER_COUNT
    int "Maximum RPL routing neighbor relations"
    default 16
    range 1 128
    help
      Maximum RPL routing neighbor relations

config RPL_PARENTS_BUFFER_COUNT
    int "Maximum RPL parent nodes in DODAG"
    default 8
    range 2 32
    help
      Maximum RPL parent nodes in DODAG

config IPV6_HBH_MAX_OPTIONS
    int "IPv6 Hop-by-Hop options"
    default 4
    range 1 32
    help
      The maximum amount of parsed options the IPv6 Hop-by-Hop header can hold.

config DNS_MAX_NAME_SIZE
    int "Maximum DNS name length"
    default 255
    range 64 255
    help
      Maximum length of DNS names that can be queried. (RFC 1035)

config DNS_MAX_RESULT_COUNT
    int "Maximum DNS results per query"
    default 1
    range 1 32
    help
      Maximum amount of address results for a given DNS query that will be kept. For example, if this is set to 2 and the queried name has 4 `A` records, only the first 2 will be returned.

config DNS_MAX_SERVER_COUNT
    int "Maximum DNS servers"
    default 1
    range 1 32
    help
      Maximum amount of DNS servers that can be configured in one DNS socket.

endmenu # SMOLTCP
